@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-gray-200 antialiased font-sans selection:bg-primary selection:text-white;
  }
}

.text-gradient {
  background: linear-gradient(135deg, #e0aaff 0%, #9d4edd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.glass-panel {
  @apply bg-surface/80 backdrop-blur-md border border-white/10 shadow-xl;
}
